name: Unzip and commit

on:
  push:
    paths:
      - "**/*.zip"

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Find ZIP
        run: |
          ZIP_FILE=$(ls *.zip | head -n 1)
          echo "ZIP file found: $ZIP_FILE"
          unzip -o "$ZIP_FILE" -d extracted
          ls extracted

      - name: Move files to root
        run: |
          cp -r extracted/* .
          rm -rf extracted

      - name: Remove zip file
        run: rm -f *.zip

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Unzip project" || echo "No changes to commit"

      - name: Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
