name: Unzip

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Debug - list files
        run: |
          echo "ROOT FILES:"
          ls -la
          echo "FIND ZIP:"
          find . -name "*.zip" -print

      - name: Unzip
        run: |
          ZIP_FILE=$(find . -name "*.zip" | head -n 1)
          echo "ZIP_FILE=$ZIP_FILE"
          unzip "$ZIP_FILE" -d extracted
