name: Unzip

on:
  workflow_dispatch:
  push:
    paths:
      - '*.zip'

permissions:
  contents: write

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Find ZIP file
      run: |
        ZIP_FILE=$(ls *.zip | head -n 1)
        echo "ZIP_FILE=$ZIP_FILE" >> $GITHUB_ENV

    - name: Unzip
      run: |
        unzip "$ZIP_FILE" -d extracted

    - name: Move files to root
      run: |
        cp -r extracted/* .

    - name: Remove zip file
      run: |
        rm "$ZIP_FILE"

    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
