name: Unzip

on:
  workflow_dispatch:
  push:
    paths:
      - '*.zip'

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Find ZIP file
        run: |
          ZIP_FILE=$(ls *.zip | head -n 1)
          echo "ZIP_FILE=$ZIP_FILE"

      - name: Unzip
        run: |
          unzip "$ZIP_FILE" -d extracted

      - name: Move files to root
        run: |
          cp -r extracted/* .

      - name: Remove zip
        run: |
          rm "$ZIP_FILE"

      - name: Commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Unzip project" || echo "No changes to commit"

      - name: Push changes
        run: git push https://$PAT_TOKEN@github.com/ElNinjaScript/dey-protector.git HEAD:master
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
